# Keep it above 10 to reduce load on RSS servers
RSS_FETCH_INTERVAL_MINUTES=10

# Keep it between 2–6 to avoid spam and rate limits on Discord
RSS_MAX_FEED_COUNT=4

# Required for GitHub Actions webhook mode
DISCORD_WEBHOOK_URL=
